# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

debug
debug_2
.vs
*.vcxproj.user

sqlite3/sqlite3.h 
sqlite3/libsqlite3.exp
sqlite3/libsqlite3.lib
sqlite3/include/sqlite3.h
sqlite3/lib/libsqlite3.lib